<div>
    <h1>Nombre: {{user.name}}</h1>
    <h1>Apellido: {{user.lastName}}</h1>
    <h1>Edad: {{user.age}}</h1>
    <h1>Correo: {{user.email}}</h1>
    <h1>Teléfono: {{user.phone}}</h1>
    {{#if isAdmin}}
    {{#each food}}
    <div>
        <p>{{this.name}} - ${{this.price}}</p>
    </div>
    {{/each}}
    {{else}}
    <h2>No podés ver la lista de comidas</h2>
    {{/if}}
</div>