<div>
    <p>Nombre completo: {{this.name}}</p>
    <p>Nombre/s: {{this.first_name}}</p>
    <p>Apellido/s: {{this.last_name}}</p>
    <p>Edad: {{this.age}}</p>
    <p>Email: {{this.email}}</p>
    <p>Rol: {{this.role}}</p>
</div>