<div>
    {{#each users}}
    <li>
        <strong>Nombre: </strong>{{this.first_name}} -
        <strong>Apellido: </strong>{{this.last_name}} -
        <strong>Email: </strong>{{this.email}} -
        <strong>Género: </strong>{{this.gender}}
    </li>
    {{/each}}

    <center>
        {{#if hasPrevPage}}
        <a href="/api/users?page={{prevPage}}">
            <button>Anterior</button>
        </a>
        {{/if}}
        <strong>Página {{this.page}} de {{this.totalPages}}</strong>
        {{#if hasNextPage}}
        <a href="/api/users?page={{nextPage}}">
            <button>Siguiente</button>
        </a>
        {{/if}}
    </center>
</div>